.nav-link {
    color: #c2c1c1;
}

.nav-link:hover {
    color: #ffffff;
    border-color: #ffffff;
}

.btn {
    color: #fff;
    background-color: #B80C09;
    border-color: #B80C09;
}

.btn:hover {
    color: #fff;
    background-color: #b80c09b7;
    border-color: #b80c09b7;
}

.btn:active {
    color: #fff;
    background-color: #B80C09;
    border-color: #B80C09;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

